<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Create ingredient</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>Ingredient addition form</h1>
<form id="formElem" enctype="multipart/form-data" action="/" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input id="nameInput" type="text" name="ingredient_name" placeholder="Ingredient's name"></td>
        </tr>

        <!-- <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr> -->
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
<table id="existing" th:each="ingredient: ${ingredients}">
    <tr>
        <td th:text="${ingredient.id}"></td>
        <td th:text="${ingredient.name}"></td>
    </tr>
</table>
</body>
<script type="text/javascript" src="js/createIngredient.js">
</script>
</html>
